<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{
    title: 'Sunset'
}) %> 
<body>
    <%- include('./partials/header') %> 
    <body>
       
        <div class="banner"> 
            
            <div class="sunset">
                <span class="vesti">Vesti</span>
                <span class="sunsetSpan">SUNSET</span>
            </div>
            <div class="imagen">

            </div>
            <a class="bajar" href="#colecciones"><i class="fas fa-chevron-circle-down"></i></a>
            
         </div>
         

        <section class="colecciones" id="colecciones">
            
            <article class="coleccion">
                    <a href="/productos">

                        <img src="/images/heaven3.jpeg" alt="">
                    </a>
                        
                    <div class="coleccionNombre">
                        <a href="/productos">

                            <h4 class="glitch">Heaven</h4>
                        </a>
                    </div>
              
            </article>
            
            <article class="coleccion">
                <a href="/productos">
                <img src="/images/hell3.jpeg" alt="">
                </a>
                <div class="coleccionNombre">
                    <a href="/productos">

                        <h4 class="glitch">
                           
                                 Hell
                            
                        </h4>
                    </a>
                </div>
                
            </article>
        </section>

        <h2 class="h2"> Productos mas vendidos</h2>


        <section class="Mas__vendidos">

            <div class="buzo">
                <div class="img-container">
                 <a href="/product-detail"><img src="/images/Buzos/buzo5.jpg" alt="producto 1"></a> 
                  <span class="price">$3999</span>
                  </span>
                  <p>Hoddie Sunset Griego</p>
                </div>
                <div class="carrito">
    
                    <a href="#">A単adir al carrito</a>
    
                </div>
            </div>
                
            <div class="buzo">
                <div class="img-container">
                    <a href="/product-detail"> <img src="/images/Buzos/buzoHell2.jpg" alt="producto 1"> </a>
                  <span class="price">$3999</span>
                  </span>
                  <p>Hoddie Sunset Hell Snake</p>
                </div>
                <div class="carrito">
    
                    <a href="#">A単adir al carrito</a>
    
                </div>
            </div>
        
            <div class="buzo">
                <div class="img-container">
                    <a href="/product-detail"> <img src="/images/Buzos/buzoHell1.jpg" alt="producto 2"> </a>
                  <span class="price">$3999</span>
                  </span>
                  <p>Hoddie Sunset Hell Diablo</p>
                </div>
                <div class="carrito">
    
                    <a href="#">A単adir al carrito</a>
    
                </div>
            </div>
    
            <div class="buzo">
                <div class="img-container">
                    <a href="/product-detail"> <img src="/images/Buzos/buzo4.jpg" alt="producto 3"> </a>
                  <span class="price">$3999</span>
                  </span>
                  <p>Hoddie Sunset Koi</p>
                </div>
                <div class="carrito">
    
                    <a href="#">A単adir al carrito</a>
    
                </div>
            </div>
        
        
        
        </section>
        
        <%- include('./partials/footer') %> 
    
</body>
</html>