<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title: 'Sunset | Login'
    }) %> 
<body>
    <%- include('./partials/header') %> 
    <main class="formularios">

        <section>
            <h2>Iniciar Sesión</h2>
            <form action="">
                <div>
                    <label>
                        <span>Usuario</span>
                        <input type="email" name="usuario" autocomplete="off" required>

                    </label>

                </div>
                <div>
                    <label>
                        <span>Contraseña</span>
                        <input type="password" name="password" autocomplete="off" required>

                    </label>
                    <p>Recordar contraseña <input type="checkbox" name="" id=""></p>
                    <button class="loginButton" type="submit">Ingresar</button>
                    <p>¿No tienes cuenta? Registrate <a href="/users/register">aquí</a></p>
                    
                </div>
            

            </form>
        </section>
        
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>