<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{
        title: 'Sunset | Nosotros'
    }) %> 
<body>
    <%- include('./partials/header') %> 

    <body>

        <main class="nosotros"> 

            <section class="container">
                
                <h1>Nosotros</h1>
                
                <div class="descripcion">
                    <p>
                        Sunset nace el 12 de agosto de 2021, cuando un grupo de amigos hablaba de como los diseños de los buzos no les terminaban de convencer. Cada uno decia como les gustaría que fuesen los buzos que van a vestir y por esto deciden comenzar a hacer sus propios diseños solo para pasar el rato. <br> Cuando empezamos a compartir los diseños y ver que a la gente les gustaba, pensamos, ¿por que no crear una marca de ropa y que asi el mundo la vea?. De esta manera, lo que en un momento era solo un pasatiempo, paso a convertirse un ambicioso proyecto. Y aqui estamos, compartiendo nuestra pasion por los buzos con ustedes.
                        
                      
                </div>

        </main>
                    

        <%- include('./partials/footer') %> 
            
</body>
</html>