<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{
        title: 'Sunset | Nosotros'
    }) %> 
<body>
    <%- include('./partials/header') %> 

    <body>

        <main class="nosotros"> 

            <section class="container">
                
                <h1>Nosotros</h1>
                
                <div class="descripcion">
                    <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam illum reiciendis cum, magnam ab ipsum earum repellendus eos nam ea. Hic explicabo aliquam eius tenetur vero? Quo atque aliquam ut necessitatibus, fugit asperiores mollitia? Rerum voluptates officiis earum id facere labore, cum a et at dolores blanditiis distinctio dicta molestias reiciendis recusandae voluptatem totam necessitatibus alias. Tempora facere iusto ex nobis inventore illo id optio dolore voluptatum velit quasi veritatis fugiat deleniti fuga, impedit incidunt ipsa voluptatem, cum fugit sit dicta molestiae libero! Doloremque, dolores fugiat culpa debitis atque esse veniam consequuntur error asperiores voluptatem ullam maiores tenetur, dolore quod.
                        
                      
                </div>

        </main>
                    

        <%- include('./partials/footer') %> 
            
</body>
</html>