<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/cfbbdf49a0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header> 
        <section>

            <div class="logo"> <a href="/"><img src="/images/Sin título-1.png" alt=""></div></a>

            <ul class="paginas">

                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
            </ul>

            <ul class="iconos">
                
                <li><a href="/login"><i class="fas fa-user"></i></a></li>
                <li><a href=""><i class="fas fa-heart"></i></a></li>
                <li><a href="/product-cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
            <div class="burger__menu"> <i class="fas fa-bars"></i> </div>

        </section>
    
    </header>
    <main class="productDetail">
        <section class="general">

            <div class="producto">
                <img src="/images/Buzos/buzo5.jpg" alt="">
                <p class="nombre">Hoddie Sunset Griego</p>
                <span class="precio">$3999</span>
                
                <p class="acercaDe">Hoodie de algódon con frisa estampado. <br>
                    Hasta 3 cuotas sin interés. <br>
                    Envíos a todo el pais</p>
            </div>
    
    
            <aside>
                <div class="descripcion">
                    <h3>Hoddie Sunset Griego</h3>
                    <span>$3999</span>
                    
                </div>
    
                <p><i class="fas fa-credit-card"></i> 3 cuotas sin interés de $1.333</p>
    
                <div class="talle">
                    
                    <label for="Talle">Talle :</label>
                    <select name="talle" id="talle">
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
    
                </div>
    
                <div class="botones">
                    <a href="#">Añadir al carrito <i class="fas fa-shopping-cart"></i></a>
                    <a href="#">Añadir a favoritos <i class="fas fa-heart"></i></a>
                </div>
            </aside>
        </section>
        <div class="h3">
            <h3>Puede interesarte</h3>
        </div>
        <section class="puedeInteresarte">
            <article class="buzo">
                <div class="img-container">
                    <a href=""> <img src="/images/Buzos/buzoHell2.jpg" alt="producto 1"> </a>
                  <span class="price">$3999</span>
                  </span>
                  <p>Hoddie Sunset Hell Snake</p>
                </div>
            </article>
            <article class="buzo">
                <div class="img-container">
                    <a href=""> <img src="/images/Buzos/buzo4.jpg" alt="producto 1"> </a>
                  <span class="price">$3999</span>
                  </span>
                  <p>Hoddie Sunset Hell Diablo</p>
                </div>
            </article>
            <article class="buzo">
                <div class="img-container">
                    <a href=""> <img src="/images/Buzos/buzoHell1.jpg" alt="producto 1"> </a>
                  <span class="price">$3999</span>
                  </span>
                  <p>Hoddie Sunset Hell Diablo</p>
                </div>
            </article>
        </section>
    </main>
        <footer>
            <section>

                <div class="logo"> <a href="#"><img src="/images/Sin título-1.png" alt=""></a>
                <a class="usuario" href="/login"><i class="fas fa-user"></i>
                </div>
               

                <div class="pag">   
                    <div class="paginas1">
                        
                        <ul class="paginas">
    
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/productos">Productos</a></li>
                            <li><a href="/nosotros">Nosotros</a></li>
                        </ul> 
                        
                    </div>
                    <div class="redes1">
                        <ul class="redes">
                            <li><a href="https://ultramsg.com/m/3LJeJun" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                            <li><a href="https://www.instagram.com/leomessi/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="mailto:iago.siccardi@gmail.com?subject=Sunset%20Argentina%20" target="_blank" ><i class="fas fa-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>

                <p>© 2022 Sunset Argentina</p>
            </section>
            </footer>
</body>
</html>