<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{
        title: 'Sunset | Productos'
    }) %> 
<body>
    <%- include('./partials/header') %> 

    <body class="PRODUCTOS">
    

        <section class="colecciones">

            <article class="coleccion"> 
                
                <a href="/productos">
                    <img src="/images/heaven3.jpeg" alt="">
                </a>
                    <div class="coleccionNombre">
                        <a href="/productos">

                            <h4 class="glitch">Heaven</h4>
                        </a>
                    </div>
              
            </article>
            
            <article class="coleccion">
                <a href="/productos">
                <img src="/images/hell3.jpeg" alt="">
                </a>
                <div class="coleccionNombre">
                    <a href="/productos">

                        <h4 class="glitch">
                           
                                 Hell
                            
                        </h4>
                    </a>
                </div>
                
            </article>
        </section>
        <%- include('./partials/footer') %> 
            
</body>
</html>