<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> 
        <section>

            <div class="logo"> <a href="/"><img src="/images/Sin título-1.png" alt=""></div></a>

            <ul class="paginas">

                <li><a href="">Inicio</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Productos</a></li>
            </ul>

            <ul class="iconos">
                
                <li><a href=""><i class="fas fa-user"></i></a></li>
                <li><a href=""><i class="fas fa-heart"></i></a></li>
                <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
            <div class="burger__menu"> <i class="fas fa-bars"></i> </div>

        </section>
    
    </header>
</body>
</html>