.formulariosHTML {
    padding-bottom: 155px;
}

.formulariosCreateHTML {
    padding-bottom: 170px;
}

textarea {
    width: 100%;
    resize: none;
}

.body_form{
    background-color: var(--Naranja);
    background-image: url(/images/background.jpg);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.formulariosCreateBody {
    min-height: 100vh;
    
    background-image: url(/images/background.jpg);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.formularios {
    display: flex;
    flex-direction: column;
    background-color: var(--Naranja);
    background-image: url(/images/background.jpg);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    height: 110vh;
   
    

}

.formularios section {
    margin: 50px 0;
}


.formularios section h2 {
    margin-top:20px ;
    margin-bottom: 0px;
    text-align: center;
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Roboto';
}

.formularios section .formularioP {
    font-family: 'Roboto';
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
    
}

.formularios #coleccion {
    width: 75%;
    padding: 10px 0;
    
    
}
.formularios #imagen {
    width: 75%;
    padding: 10px 0;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 4px;
    
}

.formularios section .terminos {
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.formularios section .errorForm{
    width: 75%;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: red;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px 0px;

}

.formularios .terminosP {
    margin: 0px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.formularios section p a {
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-transform: uppercase;
   
}

.formularios section form div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin:20px 0
    
   
}

/* .formularios section form div:nth-child(4) {
    margin: 0px 0px
} */

.formularios section form div:nth-child(5) {
    margin: 0px 0px
}


.formularios section form div .labelForm {
    display: block;
    width: 75%;
    border: 2px solid black;
    padding: 8px 10px;
    position: relative;
    border-radius: 4px;
    
}

.labelError{
    
    border: solid 2px red !important;
}


.labelDone {

    border: 2px solid rgb(49, 148, 46) !important;
}

.doneIcon{
    color: rgb(49, 148, 46);
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: calc(50% - 10px);
    
}

.errorIcon {
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: calc(50% - 10px);
    color: red;
}

.iconTransparent{

    position: absolute;
    right: 10px;
    font-size: 20px;
    top: calc(50% - 10px);
    color: transparent;
}

.formularios section form div .labelForm input {
    
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    font-family: 'AdihausDin';
    font-weight: 600;
}

.formularios section form div .labelForm span {
    color: gray;
    padding: 0;
    position: absolute;
    top: 8px;
    left: 10px;    
    font-size: 16px;
    font-family: 'AdihausDin';


}


.formularios section form div .loginButton {
    background-color: transparent;
    padding: 10px 0;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 500;
    margin-top:20px ;
    margin-bottom: 10px;
    width: 30%;
    cursor: pointer;
    
}

.formularios section form div .registerButton {
    background-color: transparent;
    padding: 10px 0;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 30%;
    cursor: pointer;
    transition: 0.25s;
}

.formularios section form div button:hover {
    
    background-color: black;
    border: 2px solid black;
    color: var(--Naranja);
    
}


.formularios section form div .labelForm:focus {
    border-color: var(--Naranja);

}


.formularios section form div .labelForm span {
    left: 2px;
    top: -10px;
    color: black;
    font-size: 14px;
    border-radius: 25px;
    padding: 0 5px;
    background-color: var(--Naranja)
}

@media (min-width : 500px) {

    .formulariosHTML {
        padding-bottom: 195px;
    }
    

    .formularios section form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }
   

    .formularios section form div {
        width: 80%;
    }
}

@media (min-width : 744px) {
   
    .formularios {
        height: 110vh;
    }

    .formularios section form div {
        width: 60%;
    }
}


@media (min-width : 1080px) {

    .formularios section form div {
        width: 40%;
    }
}