*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto';
    
    
}

html {
    scroll-behavior: smooth;
    position: relative;
    padding-bottom: 390px ;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    
  }


::placeholder { 
    
    font-size: 13px;
    font-weight: 400;
}


body {
    background-color: transparent;
    accent-color: var(--Naranja);
   
}

body::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    width: 10px;
}

body::-webkit-scrollbar-thumb {

   
    background-clip: content-box;
    background-color: var(--Naranja)
}



ul{
    list-style: none;
}

li {
    list-style: none;
    
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

nav {
    font-size: 16px;
    font-weight: normal;
}
