*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto';
    
    
}


::placeholder { 
    
    font-size: 13px;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: transparent;
}

body::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    width: 10px;
}

body::-webkit-scrollbar-thumb {

   
    background-clip: content-box;
    background-color: var(--Naranja)
}

input {
    accent-color: var(--Naranja)
}

ul{
    list-style: none;
}

li {
    list-style: none;
    
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

nav {
    font-size: 16px;
    font-weight: normal;
}
