@keyframes cartMovement {
  
    0% {
        
        
         transform: translateY(-30px)
    }

    50% {
        transform: scale(.6);
        
    }

    100% {
        
        
        transform: scale(1);
        transform: translateY(0px) 
   }
}


header {
    margin-bottom: 29px;
    z-index: 1;
    position: relative;
}

header .responsive__menu {
    background: linear-gradient(90deg, rgba(233,110,32,1) 0%, rgba(253,29,29,1) 50%, rgba(255,214,0,1) 100%);
    transition: .5s;
    width: 100%;
    margin-top: -70%;
    display: block;
    z-index: -1;
    position: relative;
    margin-bottom: -30px ;
    

}

header .divHeader {
    display: none
}

header .show {
    margin-top: 0;
    
}

header .responsive__menu .ul__responsive {
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    gap: 10px;
}


header .responsive__menu .ul__responsive li a{
    
    color: white;
    font-family: 'AdihausDIN';
    font-weight: 400;
    font-size: 16px;
    transition: .5s;   
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;

}

header .responsive__menu .ul__responsive li a:hover {
    transform: scale(1.1);
    transform: translateX(5px);
}

header .responsive__menu .ul__responsive li a i {
    background-color: black;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    color: white;
    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    background-color: black;
    /* z-index: 1; */
    
}

header section .logo {
    width: 33%;
}

header section .iconos {
    display: none;
    width: 33%;
    
}

header section .paginas {
    display: none;
   
}


header section .paginas li a {
    color:white;
    
}

header section .paginas li {
    
    transition: all 0.25s; 
    
   
}

header section .paginas li:hover {

    transform: scale(1.1)

}




header section .iconos {
    display: none;
    text-align: right;
    
    
}

header .iconos #cart_header {
    position: relative;
}

header .iconos .cartHeaderDetail::after {
   position: absolute;
   width: 12px;
   z-index: 1;
   height: 12px;
   content: '';
   bottom: 5px;
   left: 33px;
   border-radius: 50%;
   background-color: var(--Naranja);
   animation: cartMovement normal .5s;

}



header .iconos form {
    display: none;
    position: relative;
    
}

header .iconos form input {
    width: 15vw;
    padding:10px;
    padding-left: 15px;
    border-radius: 25px;
    border: none;
}

header .iconos form button{
    position: absolute;
    font-size: 16px;
    top: 11px;
    right: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s;


}

header .iconos form button:hover {
    
    transform:scale(1.2);
}

header .iconos li  {
    text-align: center;
    background-color: white;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    transition: all .40s;
}

header .iconos li:hover {
    transform: scale(1.2);
}

body header .logo img:hover{
    
    transform: scale(1.2);
    
}



body header .logo img{
    
    transition: all 0.5s;
    width: 170px;
    padding: 10px;
    margin-left: 20px;
    
}

body header .login i {
    color: white;
    font-size: 25px;
    text-align: center;
    
}



body header .burger__menu  {
    margin-right: 25px;
    text-align: right; 
 
}

body header .burger__menu i {
    color: white; 
    width:30px;
    display: inline; 
    font-size: 40px;
    
    
}

body header ul li  {

    padding-top: 5px;
    padding-bottom: -5px;
}

body header .iconos li a {
    
    color: black;
    padding-top: 8px;
    padding-bottom: -6px;
}



body header .iconos li a i {
    padding-top: 3px;
}

@media (min-width : 500px  ) {

    header .responsive__menu .ul__responsive li a {
        font-size: 18px;
    }

    header .responsive__menu .ul__responsive li a i {

        height: 30px;
        width: 30px;
        font-size: 15px;
    }

    header section .iconos {
        /* display: flex; */
        justify-content: center;
        font-size: 25px;
        gap:1rem;
        
    }

    
}


@media (min-width : 744px) {


    header .responsive__menu {
        display: none ;
    }


    header section .paginas {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    header section ul {
        display: inline;
    }

    body header .burger__menu{
        display: none;
    } 

  

    header section .iconos {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
       
        
    }
}

@media (min-width : 1080px) {

    header section .iconos form{
        display: block;
        
    }

    header .result_div {
        display: block;
        transition: .5s;
    }

    header .result_div:hover{
        transform: scale(1.03);
    }

    .modal {
       
        
        position: relative;
        position: absolute;
        top: 72px;
        right: 10px;
        
    }


    .result_div {
        width: 400px;
        height: 130px;
        background-color: black;
        position: relative;
        position: absolute;
        top: 72px;
        right: 10px;
        
    }
    
    .result_container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    
    }
    
    .result_container .result_image {
        width: 40%;
        height: 100%;
        padding: 2px;
    
    }
    
    .result_container .result_description {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-left:5px;
    
    }
    
    .result_container .result_description .result_name {
        font-size: 16px;
        color: white;
        margin-top: 13px;
        font-family: 'AdihausDIN';
        font-weight: 500;
               
    }
    
    .result_container .result_description .result_price{
        font-size: 14px;
        color: white;
        font-weight: 500;
        margin-top: 10px;
        font-family: 'AdihausDIN';

    }
    
    
    .result_div::before {
        position: absolute;
        z-index: 1;
        height: 15px;
        width: 15px;
        content: '';
        background-color: black;
        top: -5px;
        right: 95px;
        border-left: solid 1px transparent;
        border-top: solid 1px transparent;
        transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
    
    
    }

}