<!DOCTYPE html>
<html lang="en" class="formulariosHTML">
    <%- include('../partials/head',{
        title: 'Sunset | Add'
    }) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="formularios">

        <section>
            <h2> Agregar producto</h2>
            <form method="post" enctype="multipart/form-data">
                <div>
                    <label>
                        <span>Nombre del producto</span>
                        <input type="text" name="name" autocomplete="off" required>

                    </label>

                </div>
                <div>
                    <label>
                        <span>Precio del producto</span>
                        <input type="number" name="price" autocomplete="off" required >

                    </label>

                </div>
                
                <div>
                    <select name="coleccion" id="coleccion">
                        
    
                            <option value="" hidden selected>Eliga la coleccion</option>
                            
                             <option value="Heaven">Heaven</option>
                             <option value="Hell">Hell</option>
    
                    </select>

                </div>
                
                <div>
                    <input type="file" name="imagen" id="imagen" enctype>
                </div>

                <div>
                    
                    <button class="loginButton" type="submit">Crear</button>
                </div>

                
            </form>
        </section>
        
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>