<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{
        title: 'Sunset | Product Cart'
    }) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="carrito">

        <div class="titulares">
            
            <h2>Tu carrito</h2>
            <h3> 2 productos</h3>
        </div>

        <section class="productos">

            <div class="contenedorProductos">

                <article class="producto">
                     
                        <img src="/images/Buzos/buzo2.jpg" alt="">
                        <div class="descripcion">
                            <p>Hoodie Sunset Koi</p>
                            <span>$3999</span>
                            <div class="talle">
                                <label for="Talle">Talle :</label>
                                <select name="talle" id="talle">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                                </select>
                            </div>
                            <div class="cantidad">
                                <input type="number" value="1" min="1" max="10">
                            </div>
                        </div>
                        <div class="iconos">
                            <a class="corazon" href=""><i class="fas fa-heart"></i></a>
                            <a class="x" href=""><i class="fas fa-times"></i></a>
                        </div>
                    
                </article>
                
            </div>

            <div class="contenedorResumenPagos">

                <article class="resumen">
                    <h3>Resumen</h3>
    
                    <div class="Columnas">
    
                        <div class="primerColumna">
                        
                            <p>2 Productos</p>
                            <p>Envio</p>
                            <p>Total</p>
        
                        </div>
        
                        <div class="segundaColumna">
                            <span>$7.998</span>
                            <p>Gratis</p>
                            <span>$7.998</span>
        
                        </div>
                        
                    </div>
    
                    <a class="botonCompra" href="">Comprar</a>
    
                </article>
    
                <article class="pago">
                    <h3>Opciones de pago</h3>
                    <div>
                        <img src="/images/mp.png" alt="">
                        <img src="/images/pg.png" alt="">
                        <img src="/images/mastercard.png" alt="">
                        <img src="/images/visa.png" alt="">
                    </div>
                </article>
            </div>

        </section>

        
    </main>
    
    <%- include('../partials/footer') %> 
</body>
</html>