<footer>
    <section>

        <div class="logo"> <a href="#"><img src="/images/Sin título-1.png" alt=""></a>
        <a class="usuario" href="/users/login"><i class="fas fa-user"></i>
        </div>
       

        <div class="pag">   
            <div class="paginas1">
                
                <ul class="paginas">

                    <li><a href="/">Inicio</a></li>
                    <li><a href="/products">Productos</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                </ul> 
                
            </div>
            <div class="redes1">
                <ul class="redes">
                    <li><a href="https://ultramsg.com/m/3LJeJun" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="https://www.instagram.com/leomessi/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="mailto:iago.siccardi@gmail.com?subject=Sunset%20Argentina%20" target="_blank" ><i class="fas fa-envelope"></i></a></li>
                </ul>

            </div>
        </div>

        <p>© 2022 Sunset Argentina</p>
    </section>
    </footer>