<header> 
    <section>
        

            <div class="logo"> <a href="/"><img src="/images/SunsetIconHeader.png" alt=""></div></a>
    
            <ul class="paginas">
    
                <li><a href="/">Inicio</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
            </ul>
    
        
        <ul class="iconos">
            <form method="get" action="/result" id="search_form">
                <input type="text" name="keyword" placeholder="Buscar productos" autocomplete="off" id="search_input">
                <button type="submit"><i class="fas fa-search"></i></button>

            </form>
            
            <% if (locals.userLogin) { %>
                <li><a href="/users/profile"><i class="fas fa-user"></i></a></li>
                <li><a href=""><i class="fas fa-heart"></i></a></li>
                <li id="cart_header"><a href=""><i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></li>
                
            <% }else { %>
                    
                <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
            <% } %>
        </ul>
        <div class="burger__menu" id="burgerMenu"> <i class="fas fa-bars"></i> </div>
    </section>
    <section class="responsive__menu" id="responsiveMenu">
        <ul class="ul__responsive">
    
            <li><a href="/"><i class="fas fa-house"></i>Inicio</a></li>
            <li><a href="/products"><i class="fas fa-box"></i>Productos</a></li>
            <li><a href="/nosotros"><i class="fas fa-file-alt"></i>Nosotros</a></li>
            
            <% if (locals.userLogin) { %>

                <li id="cart_header2"><a href=""><i class="fas fa-shopping-cart"></i>Carrito de compras</a></li>                
                <li><a href="/users/profile"><i class="fas fa-user"></i>Perfil</a></li>
                <li><a href="/users/logout"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a></li>
            <% }else {%>
            <li><a href="/users/login"><i class="fas fa-user"></i>Iniciar sesión</a></li>
            <% }%>

            
        </ul>

    </section>

</header>

