<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/sunsetIcon.png" heigth="1px">
    <script src="https://kit.fontawesome.com/cfbbdf49a0.js" crossorigin="anonymous"></script>
    <title> <%= title %> </title>
</head>